.bio {
    padding: 3rem min(6rem, 8vw);
}

.bio h3 {
    color: chartreuse;
}

.bio div.Horizontal{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 1rem;
}

.bio div.Vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
}